<section id="section-references">
  <h2>{{ "references.header" | translate }}</h2>
  <p>{{ "references.secondheader" | translate }}</p>
  <div id="references">
    <div>
      <div>
        <p class="name">Michael Maier</p>
        <p class="project">
          {{ "references.project" | translate }} <strong>DaBubble</strong>
        </p>
      </div>
      <div>
        <p class="ref">"{{ "references.firstfeedback" | translate }}"</p>
      </div>
      <a
        href="https://www.linkedin.com/in/michael-maier-frontend-dev/"
        target="_blank"
        >Linked <img src="./assets/images/linkedin-logo-white.png" alt=""
      /></a>
    </div>
    <div>
      <div>
        <p class="name">Hendrik Bischoping</p>
        <p class="project">
          {{ "references.project" | translate }} <strong>DaBubble</strong>
        </p>
      </div>
      <div>
        <p class="ref">"{{ "references.secondfeedback" | translate }}"</p>
      </div>
      <a
        href="https://www.linkedin.com/in/hendrik-bischoping-174813356/"
        target="_blank"
        >Linked <img src="./assets/images/linkedin-logo-white.png" alt=""
      /></a>
    </div>
    <!-- <div>
      <div>
        <p class="name">Sascha Töpfer</p>
        <p class="project">{{ "references.project" | translate }} <strong>DaBubble</strong></p>
      </div>
      <div>
        <p class="ref">"{{ "references.thirdfeedback" | translate }}"</p>
      </div>
      <a
        href="https://www.linkedin.com/in/sascha-t%C3%B6pfer-2a0b1319a/"
        target="_blank"
        >Linked <img src="./assets/images/linkedin-logo-white.png" alt=""
      /></a>
    </div> -->
    <div>
      <div>
        <p class="name">Marcel Steffen</p>
        <p class="project">
          {{ "references.project" | translate }} <strong>Join</strong>
        </p>
      </div>
      <div>
        <p class="ref">"{{ "references.fourthfeedback" | translate }}"</p>
      </div>
      <a
        href="https://www.linkedin.com/in/marcel-steffen-3b650b305/"
        target="_blank"
        >Linked <img src="./assets/images/linkedin-logo-white.png" alt=""
      /></a>
    </div>
    <div>
      <div>
        <p class="name">Osahon Schmolze</p>
        <p class="project">
          {{ "references.project" | translate }} <strong>Join</strong>
        </p>
      </div>
      <div>
        <p class="ref">"{{ "references.fifthfeedback" | translate }}"</p>
      </div>
      <a
        href="https://www.linkedin.com/in/osahon-schmolze-0b51181a2/"
        target="_blank"
        >Linked <img src="./assets/images/linkedin-logo-white.png" alt=""
      /></a>
    </div>
  </div>
</section>
