<section id="section-references">
  <h2>{{ "references.header" | translate }}</h2>
  <p>{{ "references.secondheader" | translate }}</p>
  <div id="references">
    <div>
      <div>
        <p class="name">Marcel Steffen</p>
        <p class="project">{{ "references.project" | translate }} Join</p>
      </div>
      <div>
        <p class="ref">"{{ "references.firstfeedback" | translate }}"</p>
      </div>
      <a
        href="https://www.linkedin.com/in/marcel-steffen-3b650b305/"
        target="_blank"
        >Linked <img src="./assets/images/linkedin-logo-white.png" alt=""
      /></a>
    </div>
    <div>
      <div>
        <p class="name">Osahon Schmolze</p>
        <p class="project">{{ "references.project" | translate }} Join</p>
      </div>
      <div>
        <p class="ref">"{{ "references.secondfeedback" | translate }}"</p>
      </div>
      <a
        href="https://www.linkedin.com/in/osahon-schmolze-0b51181a2/"
        target="_blank"
        >Linked <img src="./assets/images/linkedin-logo-white.png" alt=""
      /></a>
    </div>
    <!-- <div>
      <div>
        <p class="name">Noah Müller</p>
        <p class="project">
          {{ "references.project" | translate }} El Pollo Loco
        </p>
      </div>
      <div>
        <p class="ref">"{{ "references.thirdfeedback" | translate }}"</p>
      </div>
    </div> -->
  </div>
</section>
