@use "../../styles.scss" as *;

#section-references {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, $primary-color, $secondary-color);
  padding: 5rem;
  color: white;
  h2,
  p {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1;
    text-shadow: $text-shadow;
    width: 100%;
  }

  h2 {
    font-family: $header-font;
    font-weight: $header-font-weight;
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }

  #references {
    @include flex-layout(center, row, center);
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;

    div {
      min-width: 300px;
      margin: 0 auto;
    }

    .name {
      font-weight: 700;
      font-size: 1.5rem;
    }
    .project {
      font-size: 1rem;
    }
    .ref {
      font-style: italic;
      font-size: 1rem;
    }
  }
}

@media (max-width: 500px) {
  #section-references {
    padding: 3rem 0 !important;
  }
  h2 {
    font-size: 2rem !important;
  }
  p {
    font-size: 1rem !important;
  }
}
