<section id="section-references">
  <h2>{{ "references.header" | translate }}</h2>
  <p>{{ "references.secondheader" | translate }}</p>
  <div id="references">
    <div>
      <div>
        <p class="name">James Rugman</p>
        <p class="project">{{ "references.project" | translate }} DA Bubble</p>
      </div>
      <div>
        <p class="ref">"{{ "references.firstfeedback" | translate }}"</p>
      </div>
    </div>
    <div>
      <div>
        <p class="name">Evelyn Marx</p>
        <p class="project">{{ "references.project" | translate }} DA Bubble</p>
      </div>
      <div>
        <p class="ref">"{{ "references.secondfeedback" | translate }}"</p>
      </div>
    </div>
    <div>
      <div>
        <p class="name">Noah Müller</p>
        <p class="project">
          {{ "references.project" | translate }} El Pollo Loco
        </p>
      </div>
      <div>
        <p class="ref">"{{ "references.thirdfeedback" | translate }}"</p>
      </div>
    </div>
  </div>
</section>
