<div id="project" [class.reverse]="isReverse">
  <a [href]="project.liveTestPath" target="_blank"
    ><img [src]="project.img" alt=""
  /></a>
  <div id="information">
    <h3>{{ project.header }}</h3>
    <p>{{ project.skills.join(" | ") }}</p>
    @if (index === 0) {
      <p class="description">
        {{ "projects.firstprojecttext" | translate }}
      </p>
    } @else if (index === 1) {
      <p class="description">
        {{ "projects.secondprojecttext" | translate }}
      </p>
    } @else if (index === 2) {
      <p class="description">
        {{ "projects.thirdprojecttext" | translate }}
      </p>
    } @else if (index === 3) {
      <p class="description">
        {{ "projects.fourthprojecttext" | translate }}
      </p>
    } @else {
      <p class="description">{{ "projects.noinfo" | translate }}</p>
    }

    <div class="button-container">
      <a [href]="project.liveTestPath" target="_blank" class="primary-btn">{{
        "projects.livetest" | translate
      }}</a>
      <a [href]="project.githubPath" target="_blank" class="primary-btn"
        >GitHub</a
      >
    </div>
  </div>
</div>
