@use "../../styles.scss" as *;

#aboutme-section {
  @include flex-layout(center);
  position: relative;
  padding: 7rem 0;
  #circles {
    position: absolute;
    width: 100%;
    max-width: 1920px;
    top: -100px;
    display: flex;
    align-items: end;
    img:nth-of-type(1) {
      position: relative;
      z-index: -10;
      left: 30%;
      height: 30% !important;
    }
    img:nth-of-type(2) {
      position: relative;
      left: 45%;
      height: 15%;
      z-index: -9;
    }
  }

  #info-aboutme-container {
    @include flex-layout(center);
    flex-wrap: wrap;
    max-width: 1920px;
    gap: 3rem;
    #info {
      @include flex-layout(space-between, column, center);
      gap: 1rem;
      h2,
      > p {
        min-width: 300px;
        width: 90%;
        text-align: center;
        color: $primary-color;
        font-family: $header-font;
        font-weight: $header-font-weight;
        font-size: 5rem;
        line-height: 4.5rem;
        text-shadow: $text-shadow;
      }
      > p {
        font-size: 3rem;
      }

      #icons {
        @include flex-layout(space-between);
        gap: 2rem;
        div {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          img {
            height: 2.5rem;
            aspect-ratio: 1/1;
            transition: opacity 0.3s ease;
            object-fit: contain;
          }

          p {
            text-align: center;
          }

          img:nth-of-type(1) {
            display: block;
          }

          img:nth-of-type(2) {
            display: none;
          }

          &:hover {
            img:nth-of-type(1) {
              display: none;
            }

            img:nth-of-type(2) {
              display: block;
            }
          }
        }
      }
    }

    #aboutme {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      min-width: 300px;
      width: 90%;
      gap: 1rem;
      font-size: 1.2rem;
      h3 {
        color: $primary-color;
        text-shadow: $text-shadow;
      }
    }
  }
}

@media (max-width: 1050px) {
  #section-header {
    h2,
    > p {
      font-size: 6rem !important;
      line-height: 5rem !important;
    }
    > p {
      font-size: 2rem !important;
    }
  }
}

@media (max-width: 850px) {
  #icons {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
  }

  #circles {
    img:nth-of-type(1) {
      position: relative;
      z-index: -10;
      left: 30%;
      height: 30% !important;
    }
    img:nth-of-type(2) {
      left: 0 !important;
      height: 0 !important;
    }
  }
  #section-header {
    @include flex-layout(center, column);
    h2,
    > p {
      font-size: 6rem !important;
      line-height: 5rem !important;
    }
    > p {
      font-size: 2rem !important;
    }

    #aboutme {
      min-width: 310px;
      max-width: 450px;
      @include flex-layout(start, column, center);
      padding: 0 25px;
    }

    #info {
      #icons {
        @include flex-layout(center, column, center);
        div {
          @include flex-layout(center, row, center);
          gap: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #info-aboutme-container {
    #info {
      h2,
      > p {
        font-size: 2.5rem !important;
        line-height: 2rem !important;
      }
      > p {
        font-size: 1.5rem !important;
      }
    }
    #aboutme {
      font-size: 1rem !important;
    }
  }
}
