<section id="aboutme-section">
  <div id="circles">
    <img src="../../assets/images/Ellipse-aboutme-big.png" alt="" />
    <img src="../../assets/images/Ellipse-aboutme-small.png" alt="" />
  </div>

  <div id="info-aboutme-container">
    <div id="info">
      <h2>Let's work together</h2>
      <p>I am</p>
      <div id="icons">
        <div>
          <img
            src="../../assets/images/icon-location.png"
            alt="location icon"
          />
          <img
            src="../../assets/images/icon-location-hover.png"
            class="d-none"
            alt="location icon hover"
          />
          <p>located in Cologne</p>
        </div>
        <div>
          <img src="../../assets/images/icon-laptop.png" alt="laptop icon" />
          <img
            src="../../assets/images/icon-laptop-hover.png"
            class="d-none"
            alt="laptop icon hover"
          />
          <p>open to work remote</p>
        </div>
        <div>
          <img
            src="../../assets/images/icon-suitcase.png"
            alt="suitcase icon"
          />
          <img
            src="../../assets/images/icon-suitcase-hover.png"
            class="d-none"
            alt="suitcase icon"
          />
          <p>open to relocate</p>
        </div>
      </div>
    </div>

    <div id="aboutme">
      <p>
        I am a Front-end developer based in Munich, Germany. I enjoy helping
        designers and companies bring their ideas into real life. I am looking
        forward to continuing my developer career with a job in a junior web
        developer position. My ability to solve complex problems and my passion
        for programming make me a valuable member for your team.
      </p>
      <p>If you think I'd be a good match for your projects, contact me!</p>
      <a href="#contact" class="button"><p>Send a message</p></a>
    </div>
  </div>
</section>
