<div id="section-header">
  <div id="head">
    <h2>Let's work together</h2>
  </div>
  <div id="info">
    <p>I am</p>
    <div id="icons">
      <div>
        <img src="../../assets/images/icon-location.png" alt="" />
        <p>located in Cologne</p>
      </div>
      <div>
        <img src="../../assets/images/icon-laptop.png" alt="" />
        <p>open to work remote</p>
      </div>
      <div>
        <img src="../../assets/images/icon-suitcase.png" alt="" />
        <p>open to relocate</p>
      </div>
    </div>
  </div>
  <div id="aboutme">
    <p></p>
    <button></button>
  </div>
</div>
