<section id="aboutme-section">
  <div id="circles">
    <img src="../../assets/images/Ellipse-aboutme-big.png" alt="" />
    <img src="../../assets/images/Ellipse-aboutme-small.png" alt="" />
  </div>

  <div id="info-aboutme-container">
    <div id="info">
      <h2>
        <div>{{ "about-me.header" | translate }}</div>
      </h2>
      <p>{{ "about-me.secondheader" | translate }}</p>
      <div id="icons">
        <div>
          <img
            src="../../assets/images/icon-location.png"
            alt="location icon"
          />
          <img
            src="../../assets/images/icon-location-hover.png"
            class="d-none"
            alt="location icon hover"
          />
          <p>{{ "about-me.located" | translate }}</p>
        </div>
        <div>
          <img src="../../assets/images/icon-laptop.png" alt="laptop icon" />
          <img
            src="../../assets/images/icon-laptop-hover.png"
            class="d-none"
            alt="laptop icon hover"
          />
          <p>{{ "about-me.remote" | translate }}</p>
        </div>
        <div>
          <img
            src="../../assets/images/icon-suitcase.png"
            alt="suitcase icon"
          />
          <img
            src="../../assets/images/icon-suitcase-hover.png"
            class="d-none"
            alt="suitcase icon"
          />
          <p>{{ "about-me.relocate" | translate }}</p>
        </div>
      </div>
    </div>

    <div id="aboutme">
      <h3>{{ "about-me.headerparagraph" | translate }}</h3>
      <p>{{ "about-me.firstparagraph" | translate }}</p>
      <p>{{ "about-me.secondparagraph" | translate }}</p>
      <a href="#contact" class="primary-btn"
        ><p>{{ "about-me.sendmessage" | translate }}</p></a
      >
    </div>
  </div>
</section>
