@use "../../styles.scss" as *;

#projects {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 5rem;
    font-family: $header-font;
    font-weight: $header-font-weight;
    color: $primary-color;

    text-shadow: $text-shadow;
  }
  p {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  #circles {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    z-index: -1;
    position: absolute;

    img {
      position: absolute;
    }

    img:nth-child(1) {
      top: 2%;
      left: 15%;
    }
    img:nth-child(2) {
      top: 3%;
      right: 0;
    }
    img:nth-child(3) {
      top: 20%;
      left: 0%;
    }
    img:nth-child(4) {
      top: 50%;
      right: -5%;
    }
    img:nth-child(5) {
      bottom: -30%;
      left: -10%;
    }
  }

  #projects {
    #project {
      @include flex-layout(center);
      gap: 5rem;
      margin-bottom: 100px;
      &:nth-child(odd) {
        flex-direction: row;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
        #information {
          align-items: end;
          .description {
            color: black;
            text-align: end;
          }
        }
      }
      img {
        min-height: 40%;
        width: 700px;
        height: auto;
        border-radius: 20px;
        box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.2);
        transition: transform 125ms;

        &:hover {
          transform: scale(1.1);
        }
      }

      #information {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 45%;
        color: $primary-color;

        h3 {
          font-size: 2.5rem;
          font-family: $header-font;
          font-weight: $header-font-weight;
          margin: 0;
          line-height: 1;
        }
        .description {
          color: black;
        }

        .button-container {
          @include flex-layout(start);
          gap: 2rem;

          a {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}
