<section id="projects" class="padding-left-right-100">
  <h2>{{ "projects.header" | translate }}</h2>
  <p>
    {{ "projects.headertext" | translate }}
  </p>
  <div id="circles">
    <img src="../../assets/images/Ellipse-aboutme-small.png" alt="" />
    <img src="../../assets/images/Ellipse-aboutme-big.png" alt="" />
    <img src="../../assets/images/Ellipse-projects-mid.png" alt="" />
    <img src="../../assets/images/Ellipse-projects-mid.png" alt="" />
    <img src="../../assets/images/Ellipse-hero.png" alt="" />
  </div>
  <div id="projects">
    @for (project of projects; track $index) {
      <div id="project">
        <a [href]="project.liveTestPath"><img [src]="project.img" alt="" /></a>
        <div id="information">
          <h3>{{ project.header }}</h3>
          <p>{{ project.skills.join(" | ") }}</p>
          @if ($index === 0) {
            <p class="description">
              {{ "projects.firstprojecttext" | translate }}
            </p>
          } @else if ($index === 1) {
            <p class="description">
              {{ "projects.secondprojecttext" | translate }}
            </p>
          } @else if ($index === 2) {
            <p class="description">
              {{ "projects.thirdprojecttext" | translate }}
            </p>
          } @else {
            <p class="description">{{ "projects.noinfo" | translate }}</p>
          }

          <div class="button-container">
            <a
              [href]="project.liveTestPath"
              target="_blank"
              class="primary-btn"
              >{{ "projects.livetest" | translate }}</a
            >
            <a [href]="project.githubPath" target="_blank" class="primary-btn"
              >GitHub</a
            >
          </div>
        </div>
      </div>
    } @empty {
      <p>{{ "projects.noprojects" | translate }}</p>
    }
  </div>
</section>
