<section id="projects" class="padding-left-right">
  <h2>{{ "projects.header" | translate }}</h2>
  <p>
    {{ "projects.headertext" | translate }}
  </p>
  <div id="circles">
    <img src="../../assets/images/Ellipse-aboutme-small.png" alt="" />
    <img src="../../assets/images/Ellipse-projects-mid.png" alt="" />
    <img src="../../assets/images/Ellipse-projects-mid.png" alt="" />
    <img src="../../assets/images/Ellipse-hero.png" alt="" />
  </div>
  <div id="projects">
    @for (project of projects; track $index) {
      <app-single-project
        [project]="project"
        [index]="$index"
        [isReverse]="$index % 2 !== 0"
      ></app-single-project>
    } @empty {
      <p>{{ "projects.noprojects" | translate }}</p>
    }
  </div>
</section>
