<header
  class="padding-left-right"
  [ngClass]="{
    'main-page-header': isMainPage,
    'secondary-page-header': !isMainPage,
  }"
>
  <a href=""
    ><img
      [src]="
        isMenuOpen ? 'assets/images/logo-blue.png' : 'assets/images/logo.png'
      "
      alt="Logo"
  /></a>

  <div id="header-nav">
    <a href="#aboutme-section" (click)="closeMenu()">{{
      "header.aboutme" | translate
    }}</a>
    <a href="#skillset" (click)="closeMenu()">{{
      "header.skillset" | translate
    }}</a>
    <a href="#projects" (click)="closeMenu()">{{
      "header.myprojects" | translate
    }}</a>

    <div id="language-switch">
      <input
        type="checkbox"
        id="lang-toggle"
        (change)="toggleLanguage()"
        [checked]="currentLanguage === 'de'"
      />
      <label for="lang-toggle">
        <span
          style="z-index: 1"
          [ngStyle]="{
            color: currentLanguage === 'en' ? '#ffffff' : '#000000',
          }"
          >EN</span
        >
        <span style="z-index: 1">DE</span>
      </label>
    </div>
  </div>

  <div
    class="menu-icon d-none"
    [class.open]="isMenuOpen"
    (click)="onBurgerMenuClick()"
  >
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div
    id="mobile-menu-overlay"
    [class.open]="isMenuOpen"
    class="menu-overlay padding-left-right-100"
  >
    <nav>
      <a href="#aboutme-section" (click)="closeMenu()">{{
        "header.aboutme" | translate
      }}</a>
      <a href="#skillset" (click)="closeMenu()">{{
        "header.skillset" | translate
      }}</a>
      <a href="#projects" (click)="closeMenu()">{{
        "header.myprojects" | translate
      }}</a>

      <div id="language-switch">
        <input
          type="checkbox"
          id="lang-toggle"
          (change)="toggleLanguage()"
          [checked]="currentLanguage === 'de'"
        />
        <label for="lang-toggle">
          <span
            style="z-index: 1"
            [ngStyle]="{
              color: currentLanguage === 'en' ? '#ffffff' : '#000000',
            }"
            >EN</span
          >
          <span style="z-index: 1">DE</span>
        </label>
      </div>
    </nav>
  </div>
</header>
