@use "../../../styles.scss" as *;

header {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1920px;
  height: 100px;
  z-index: 9999;
  font-size: 1.4rem;
  font-weight: 700;
  @include flex-layout(space-between);

  #language-switch {
    position: relative;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;

    input[type="checkbox"] {
      display: none;
    }

    label {
      position: relative;
      width: 100%;
      height: 100%;
      background: #ddd;
      border-radius: 15px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);

      span {
        font-size: 12px;
        color: #000000;
        user-select: none;
      }

      &::before {
        content: "";
        position: absolute;
        width: 26px;
        height: 26px;
        background: $primary-color;
        border-radius: 50%;
        top: 2px;
        left: 2px;
        transition: all 0.3s ease;
      }
    }

    input[type="checkbox"]:checked + label::before {
      transform: translateX(30px);
    }
    input[type="checkbox"]:checked + label span {
      color: #ffffff; // Die Farbe, die du haben möchtest
    }
  }

  #header-nav {
    @include flex-layout(space-between);
    gap: 2rem;
    a {
      position: relative;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $primary-color;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.125s ease;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    img {
      &:hover {
        cursor: pointer;
      }
    }
  }
  #header-burgermenu {
    display: none;
  }
}

#mobile-menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(210, 210, 210, 0.9);
  z-index: -1;
  gap: 2rem;

  transform: translateX(100%);
  transition: transform 2s ease-in-out;

  &.open {
    transform: translateX(0);
  }

  #logo-nav-container {
    @include flex-layout(space-between);
    width: 100%;
    padding: 12px 0;
    margin-bottom: 20%;
  }

  nav {
    @include flex-layout(center, column);
    gap: 2rem;
    a {
      position: relative;
      transition: transform 0.3s ease;
      font-size: 3rem;

      &:hover {
        transform: scale(1.1);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $primary-color;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.125s ease;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }

  img {
    &:hover {
      cursor: pointer;
    }
  }
}

.d-none {
  display: none;
}

.menu-icon {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: $primary-color;
    border-radius: 5px;
    transition: all 0.5s ease;
    position: relative;
  }

  &.open span:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }

  &.open span:nth-child(2) {
    opacity: 0;
  }

  &.open span:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
  }
}

@media (max-width: 900px) {
  header {
    #header-nav {
      display: none;
    }
    .menu-icon {
      display: flex;
    }
  }
  #mobile-menu-overlay {
    display: block;
  }
}
