@use "../../../styles.scss" as *;

header {
  width: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 9999;
  #head-section {
    max-width: 1920px;
    margin: 0 auto;
    padding: 12px $padding-100;
    font-size: 1.4rem;
    font-weight: 700;
    @include flex-layout(space-between);
  }

  img {
    &:hover {
      cursor: pointer;
    }
  }

  #header-nav {
    @include flex-layout(space-between);
    gap: 2rem;

    a {
      position: relative;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $primary-color;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.125s ease;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}
