@use "../../../styles.scss" as *;

$header-padding: 200px;

header {
  position: absolute;
  width: calc(100% - $header-padding);
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  margin: 0 auto;
  padding: 12px 0;
  #head-section {
    width: 100%;
    max-width: 1920px;
    font-size: 1.4rem;
    font-weight: 700;
    @include flex-layout(space-between);

    #header-burgermenu {
      display: none;
    }
  }

  img {
    &:hover {
      cursor: pointer;
    }
  }

  #header-nav {
    @include flex-layout(space-between);
    gap: 2rem;

    a {
      position: relative;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $primary-color;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.125s ease;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}

#mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #d2d2d2;
  z-index: 10000;
  gap: 2rem;

  #logo-nav-container {
    @include flex-layout(space-between);
    width: 100%;
    padding: 12px 50px;
    margin-bottom: 20%;
  }

  nav {
    @include flex-layout(center, column);
    gap: 2rem;
    a {
      position: relative;
      transition: transform 0.3s ease;
      font-size: 3rem;

      &:hover {
        transform: scale(1.1);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $primary-color;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.125s ease;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }

  img {
    &:hover {
      cursor: pointer;
    }
  }
}

.d-none {
  display: none;
}

@media (max-width: 1200px) {
  $header-padding: 50px;
  header {
    width: calc(100% - $header-padding) !important;
  }
}

@media (max-width: 900px) {
  header {
    #head-section {
      #header-nav {
        display: none;
      }
      #header-burgermenu {
        display: block;
      }
    }
    #mobile-menu-overlay {
      display: block;
    }
  }
}
