<header>
  <div id="head-section" class="padding-left-right">
    <a href=""><img src="../../../assets/images/logo.png" alt="" /></a>
    <div id="header-nav">
      <a href="#">About me</a>
      <a href="#">Skill set</a>
      <a href="#">My Projects</a>
    </div>
    <img
      id="header-burgermenu"
      src="../../../assets/images/burger-menu.png"
      alt=""
      (click)="onBurgerMenuClick()"
    />
  </div>
  @if (isMenuOpen) {
    <div id="mobile-menu-overlay" class="menu-overlay d-none">
      <div id="logo-nav-container">
        <a href=""
          ><img src="../../../assets/images/logo-blue.png" alt="Logo"
        /></a>
        <img
          id="header-burgermenu"
          src="../../../assets/images/burger-menu.png"
          alt="Close menu"
          (click)="onBurgerMenuClick()"
        />
      </div>

      <nav>
        <a href="#" (click)="closeMenu()">About me</a>
        <a href="#" (click)="closeMenu()">Skill set</a>
        <a href="#" (click)="closeMenu()">My Projects</a>
      </nav>
    </div>
  }
</header>
