@use "../../styles.scss" as *;

#contact {
  @include flex-layout(center, column);
  position: relative;
  width: 100%;
  height: auto;
  padding: 3rem 0;
  h2 {
    color: $primary-color;
    font-size: 4rem;
    font-family: $header-font;
    font-weight: $header-font-weight;
    line-height: 1;
  }
  img {
    position: absolute;
    bottom: 5%;
    right: 2%;
    cursor: pointer;
  }

  #circles {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 1920px;
    top: 0;
    z-index: -1;
    img {
      position: absolute;
    }
    img:nth-child(1) {
      bottom: 2%;
      left: 40%;
    }
    img:nth-child(2) {
      top: 10%;
      right: 20%;
    }
    img:nth-child(3) {
      top: 2%;
      left: 5%;
    }
  }
  div {
    @include flex-layout(space-between);
    gap: 2rem;
    #info {
      @include flex-layout(flex-start, column, start);
      width: 40%;

      gap: 1rem;
      h3 {
        color: $primary-color;
        font-family: $header-font;
        font-weight: $header-font-weight;
        font-size: 2rem;
      }
      p {
        font-size: 1.2rem;
      }
      p:nth-child(3) {
        color: $primary-color;
        span {
          font-weight: 700;
        }
      }
    }
    form {
      @include flex-layout(start, column);
      width: 50%;
      #checkbox {
        display: flex;
        gap: 1rem;
        margin: 1rem 0;
        cursor: pointer;
        input[type="checkbox"] {
          width: auto;
        }
        label[for="checkbox"] {
          font-size: 0.8rem;
          span {
            color: $primary-color;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .disabled-btn {
        color: #666;
        text-decoration: none;
        border: 2px solid #666;
        border-radius: 10px;
        padding: 5px 10px;
        background-color: #ccc;
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.6;
      }

      .input-group {
        position: relative;
        @include flex-layout(start, column, start);
        gap: 1rem;
        width: 100%;

        .hidden-label {
          visibility: hidden;
          opacity: 0;
          transition:
            opacity 0.2s ease-in-out,
            visibility 0.2s ease-in-out;
        }

        label {
          position: relative;
          top: 1.5rem;
          z-index: 1;
          left: 0.5rem;
          background-color: white;
          visibility: visible;
          opacity: 1;
          transition:
            opacity 0.2s ease-in-out,
            visibility 0.2s ease-in-out;
        }

        .input-container {
          position: relative;
          width: 100%;

          input,
          textarea {
            width: 100%;
            border: 1px solid $primary-color;
            border-radius: 10px;
            padding: 10px;
            padding-right: 40px;
            font-size: 1rem;
            outline: none;
          }

          textarea {
            min-height: 4rem;
            max-height: 20rem;
            resize: vertical;
          }

          input.ng-touched.ng-invalid,
          textarea.ng-touched.ng-invalid {
            border-color: red;
          }

          input.ng-touched.ng-valid,
          textarea.ng-touched.ng-valid {
            border-color: green;
          }

          .icon {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            font-size: 18px;
            pointer-events: none;
          }
        }

        .error {
          font-size: 0.8rem;
          color: red;
          margin-top: -1.2rem;
          position: absolute;
          bottom: -0.9rem;
          left: 1rem;
        }
      }
    }
  }
}
