@use "../styles.scss" as *;

#atf-bg {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(to bottom, #ffffff, #eaefff);
  box-sizing: border-box;

  .content-wrapper {
    width: 100%;
    max-width: 1920px;
    padding: 0 100px;
    position: relative;
  }
}

@media (max-width: 1200px) {
  .content-wrapper {
    padding: 0 20px !important;
  }
}
