<div id="privacypolicy-section">
  <h1>{{ "privacypolicy.header" | translate }}</h1>
  <h2>{{ "privacypolicy.header1.1" | translate }}</h2>
  <h3>{{ "privacypolicy.header1.1" | translate }}</h3>
  <p>
    {{ "privacypolicy.paragraph1.1" | translate }}
  </p>
  <h3>{{ "privacypolicy.datacollection.title" | translate }}</h3>
  <h4>{{ "privacypolicy.datacollection.responsible" | translate }}</h4>
  <p>
    {{ "privacypolicy.datacollection.processing" | translate }}
  </p>

  <h4>{{ "privacypolicy.datacollection2.how" | translate }}</h4>
  <p>
    {{ "privacypolicy.datacollection2.manual" | translate }}
  </p>
  <p>
    {{ "privacypolicy.datacollection2.automatic" | translate }}
  </p>

  <h4>{{ "privacypolicy.datacollection3.purpose" | translate }}</h4>
  <p>
    {{ "privacypolicy.datacollection3.usage" | translate }}
  </p>
  <h4>{{ "privacypolicy.datacollection3.rights" | translate }}</h4>
  <p>
    {{ "privacypolicy.datacollection3.rightsInfo" | translate }}
  </p>
  <p>
    {{ "privacypolicy.datacollection3.contact" | translate }}
  </p>

  <h2>{{ "privacypolicy.hosting.title" | translate }}</h2>
  <p>{{ "privacypolicy.hosting.provider" | translate }}</p>
  <h3>{{ "privacypolicy.hosting.providerName" | translate }}</h3>
  <p>
    {{ "privacypolicy.hosting.providerDetails" | translate }}
    <a
      href="https://all-inkl.com/datenschutzinformationen/"
      target="_blank"
      rel="noopener noreferrer"
      >{{ "privacypolicy.hosting.providerLink" | translate }}</a
    >
  </p>
  <p>
    {{ "privacypolicy.hosting.legalBasis" | translate }}
  </p>
  <p>
    {{ "privacypolicy.hosting.consents" | translate }}
  </p>
  <h4>{{ "privacypolicy.hosting.title2" | translate }}</h4>
  <p>{{ "privacypolicy.hosting.info" | translate }}</p>

  <h2>{{ "privacypolicy.general.title" | translate }}</h2>
  <h3>{{ "privacypolicy.general.dataprotection" | translate }}</h3>
  <p>{{ "privacypolicy.general.dataprotectionInfo1" | translate }}</p>
  <p>{{ "privacypolicy.general.dataprotectionInfo2" | translate }}</p>
  <p>{{ "privacypolicy.general.dataprotectionInfo3" | translate }}</p>
  <h3>{{ "privacypolicy.general.responsible" | translate }}</h3>
  <p>{{ "privacypolicy.general.responsibleInfo" | translate }}</p>
  <p>{{ "privacypolicy.general.contact" | translate }}</p>
  <p>{{ "privacypolicy.general.responsibleExplanation" | translate }}</p>

  <h3>{{ "privacypolicy.storageDuration.title" | translate }}</h3>
  <p>{{ "privacypolicy.storageDuration.info" | translate }}</p>
  <h3>{{ "privacypolicy.legalBasis.title" | translate }}</h3>
  <p>{{ "privacypolicy.legalBasis.info" | translate }}</p>

  <h3>{{ "privacypolicy.dataRecipients.title" | translate }}</h3>
  <p>{{ "privacypolicy.dataRecipients.info" | translate }}</p>

  <h3>{{ "privacypolicy.withdrawalOfConsent.title" | translate }}</h3>
  <p>{{ "privacypolicy.withdrawalOfConsent.info" | translate }}</p>

  <h3>{{ "privacypolicy.objectionRight.title" | translate }}</h3>
  <p>{{ "privacypolicy.objectionRight.info" | translate }}</p>

  <h3>{{ "privacypolicy.complaintRight.title" | translate }}</h3>
  <p>{{ "privacypolicy.complaintRight.info" | translate }}</p>

  <h3>{{ "privacypolicy.dataPortabilityRight.title" | translate }}</h3>
  <p>{{ "privacypolicy.dataPortabilityRight.info" | translate }}</p>

  <h3>{{ "privacypolicy.accessCorrectionDeletion.title" | translate }}</h3>
  <p>{{ "privacypolicy.accessCorrectionDeletion.info" | translate }}</p>

  <h3>{{ "privacypolicy.restrictionOfProcessing.title" | translate }}</h3>
  <p>{{ "privacypolicy.restrictionOfProcessing.info" | translate }}</p>
  <ul>
    <li>{{ "privacypolicy.restrictionOfProcessing.case1" | translate }}</li>
    <li>{{ "privacypolicy.restrictionOfProcessing.case2" | translate }}</li>
    <li>{{ "privacypolicy.restrictionOfProcessing.case3" | translate }}</li>
    <li>{{ "privacypolicy.restrictionOfProcessing.case4" | translate }}</li>
  </ul>
  <p>{{ "privacypolicy.restrictionOfProcessing.final" | translate }}</p>

  <h3>{{ "privacypolicy.sslEncryption.title" | translate }}</h3>
  <p>{{ "privacypolicy.sslEncryption.info" | translate }}</p>
  <p>{{ "privacypolicy.sslEncryption.protection" | translate }}</p>
  <p>
    {{ "privacypolicy.sslEncryption.source" | translate }}
    <a href="https://www.e-recht24.de" target="_blank"
      >https://www.e-recht24.de</a
    >
  </p>
</div>
