@use "../../styles.scss" as *;

#imprint-section {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #imprint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1,
    h2 {
      font-family: $header-font;
      font-weight: $header-font-weight;
      font-size: 3rem;
    }
  }
}
