@use "../../styles.scss" as *;

#imprint-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;

  #imprint {
    h1 {
      font-family: $header-font;
      font-weight: $header-font-weight;
      font-size: 3rem;
    }

    h2 {
      font-family: $header-font;
      font-weight: $header-font-weight;
      font-size: 3rem;
    }
  }
}
