$primary-color: #5988ff;
$secondary-color: #57e8a2;
$tertiary-color: #ff5959;
$background-color: #f4f4f4;

@import "./fonts.scss";
$header-font: "Baloo 2", sans-serif;
$header-font-weight: 700;
$main-font: "Montserrat", sans-serif;
$main-font-weight: 400;

$first-media-max-width: 1400px;
$second-media-max-width: 1000px;

$padding-100: 100px;
$padding-48: 48px;
$padding-24: 24px;
//TODO LÖschen vor projektabgabe
$border-test: solid 1px black;

@mixin flex-layout(
  $justify-content: center,
  $flex-direction: row,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  font-family: $main-font;
  font-weight: $main-font-weight;
}

a {
  text-decoration: none;
  color: $primary-color;
}
